<div class="row">
  <div class="col-xs-10">
    <app-animal-edit></app-animal-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
      *ngFor="let animal of (animals | async).animals; let i = index"
      (click)="onEditAnimal(i)">
        {{  animal.name }},
        {{  animal.gender }},
        {{  animal.age  }},
        {{  animal.bio }}

        <br>

        <img [src]="animal.imgPath" style="max-height: 200px" alt="animal.name">

      </a>
    </ul>
  </div>
</div>
