<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" id="test">PAWnder</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <!-- Shelters Tab -->
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a role="button" (click)="onFetchShelters()"  routerLink="/shelters" class="shelters">Shelters</a>
        </li>
        <!-- Animals Tab -->
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a role="button" (click)="onFetchAnimals()" routerLink="/animal-list" class="animals">Animals</a>
        </li>
      </ul>
        <!-- Search Bar -->
        <!-- <div class="col-md-5 searchbar-area">
          <form class="form-inline" *ngIf="isAuthenticated">
            <input class="form-control " type="text" placeholder="Search for Shelter" aria-label="Search">
            <button class="btn btn-indigo btn-rounded btn-sm my-0 waves-effect waves-light" type="submit">Search</button>
          </form>
        </div> -->
      <ul class="nav navbar-nav navbar-right">
        <!-- Save Data tab  -->
        <li class="dropdown" appDropdown *ngIf="isAuthenticated">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
            </li>
          </ul>
        </li>
        <!-- Login/Logout  -->
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth" class="login">Login</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;" (click)="onLogout()" class="logout">Logout</a>
        </li>
        <li>
          <a style="cursor: pointer;" href="../user/user-home/user-home.component.html" >Your homepage</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
