
<!--<footer id="sticky-footer" class="d-flex">-->
  <!--<div class="container-fluid">-->

  <!--</div>-->
<!--</footer>-->
<body class="d-flex flex-column">

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <ul class="nav navbar-nav">
        <li><p>Created by Kellsey Neagley</p></li>
        <li><p>kellseyneagley@gmail.com</p></li>
        <li><a href="https://github.com/kellseyn"
               target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/kellseyneagley/"
               target="_blank">LinkedIn</a></li>

    </ul>
  </div>
</footer>
</body>
