body {
  background: rebeccapurple;
  background: linear-gradient(to right, mediumslateblue, plum);
}

p {
padding: 1em;
  padding-left: 0;
}

li a {
color: white;
}

a:link {
text-decoration: underline;
}

a:visited {
text-decoration: none;
}

li a:hover {
color: black;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}

.creds {
  justify-content: end;
}
