<div class="row">
  <div class="col-xs-12">
    <img
      [src]="shelter.imagePath"
      alt="{{shelter.name}}"
      class="img-responsive"
      style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{  shelter.name  }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button"
              class="btn btn-primary dropdown-toggle">
        Manage Shelter <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToAnimalList()" style="cursor: pointer;">Add to Animal list</a></li>
        <li><a (click)="onEditShelter()" style="cursor: pointer;">Edit Shelter</a></li>
        <li><a style="cursor: pointer;">Delete Animal from shelter</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{  shelter.location  }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{  shelter.phoneNumber }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let animal of shelter.animals">
        {{ animal.name }},
        {{  animal.gender }},
        {{  animal.age  }},
        {{  animal.bio }}
        <br>

        <img [src]="animal.imgPath" style="max-height: 200px" alt="animal.name">
      </li>
    </ul>
  </div>
</div>
