<a
  href="#"
  class="list-group-item clearfix"
(click)="onSelected()"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{  shelter.name }}</h4>
    <p class="list-group-item-test">{{  shelter.location  }}</p>
    <p class="list-group-item-test text-primary">{{ shelter.phoneNumber  }}</p>
  </div>
  <span class="pull-right">
        <img [src]="shelter.imagePath"
             alt="{{ shelter.name  }}"
             class="img-responsive"
             style="max-height: 50px;">
      </span>
</a>
