.container {
  background-color: beige;
  padding-top: 1em;
  padding-bottom: 40%;
  height: 100%;
}

html {
  background-color: mediumpurple;
}


h1 {
  color: blue;
}

.white-text {
  color: white;
}
