<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
        </div>
        <div class="col-sm-1 form-group">
          <label for="age">Age</label>
          <input type="number"
                 id="age"
                 class="form-control"
                  #ageInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="gender">Gender</label>
          <select name="gender"
                  id="gender"
                  class="form-control"
                  #genderInput>
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="bio">Bio</label>
          <textarea type="text"
                    id="bio" cols="30" rows="1"
                    name="bio"
                    class="form-control"
                    #bioInput></textarea>
        </div>
        <div class="col-sm-3">
          <label for="imgPath">Image URL</label>
          <input
            type="text"
            id="imgPath"
            class="form-control"
            #imgPathInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAddAnimal()">Add</button>
          <button class="btn btn-danger" type="button">Remove</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
